
<h1>@ViewData["Title"]</h1>
<head>
</head>
<style>
    body {
        background-image: url("https://i.stack.imgur.com/7JjU3.jpg");
        text-align: right;
    }
    t {
        direction:rtl

    }

</style>

Buy&Cook


<body>
    <t>
        <p><b>תקנון אתר</b></p>
        <p>בתקנון זה יהיו למונחים המוגדרים בו המשמעות שלהלן:</p>
        <p>א. הגדרות</p>
        <ol>
            <li>Buy&Cook– שם המותג (סימן מסחרי) ע.מ. מס' 316305424</li>
            <li>מוצרים או סחורה: הבגדים והמוצרים המופיעים באתר ומוצעים למכירה.</li>
            <li>אספקת הסחורה:</li>
        </ol>
        <ol>
            <li>דואר רשום למשלוח הסחורה: עד 14 ימי עסקים, ייתכן כי זמן האספקה יתארך מעבר לזמן האמור בשל אילוצי דואר ישראל.</li>
            <li>יום אספקת הסחורה: היום בו נמסרה הסחורה ליעד המבוקש ע&quot;י הלקוחה.</li>
            <li>כתובת למשלוח דואר: הכתובת שצוינה בטופס ההזמנה ע&quot;י המזמינה ככתובת למשלוח הזמנות.</li>
            <li>יום ביצוע ההזמנה: היום בו אושרה העסקה ע&quot;י חברת האשראי שצוינה בטופס ההזמנה ע&quot;י המזמינה  או ע&quot;י חברת Pay Pal (פיי פאל)</li>
            <li>לקוחה: גולשת באתר ו/או מבצעת הזמנה באתר ו/או מבצעת רכישה באתר.</li>
            <li>ימי עסקים:  מיום ראשון עד יום חמישי כולל בלבד. למען הסר ספק ימי העסקים אינם כוללים את ימי שישי, שבת, ערבי חג, ימי חג וחול המועד.</li>
        </ol>
        <p> </p>
        <p>ב. הוראות כלליות</p>
        <ol>
            <li>האתר משמש חנות וירטואלית למכירת בגדים והוא בבעלות Buy&Cook ומנוהל על ידה.</li>
            <li>בכל מקום בתקנון זה בו נעשה שימוש בלשון נקבה, ההוראות יחולו גם על זכר.</li>
            <li>לכל שאלה ו/או הבהרה ו/או בירור ניתן לפנות לשירות הלקוחות של Buy&Cook במייל:</li>
        </ol>
        <p>cookandbuyservice@cookandbuy.co.il </p>
        <ol>
            <li>הוראות תקנון זה ותנאי השימוש המופיעים באתר זה הם המגדירים את הבסיס החוקי לגלישה באתר ולהזמנות ולרכישה דרכו והוא בלבד המסדיר את היחסים בין הלקוחה לבין Buy&Cook.</li>
            <li>כל המבצעת שימוש באתר ו/או רכישה ו/או הזמנה ו/או גלישה באתר זה מצהירה ע&quot;י פעולה זאת כי היא קראה תקנון זה וכן כי היא מסכימה לכל הוראותיו ו/או תנאיו של תקנון זה, וכי לא תהייה לה או למי מטעמה כל טענה ו/או דרישה ו/או תביעה נגד האתר ו/או SWIMINI ו/או הנהלת האתר ו/או מי ממנהליה ו/או מי מעובדיה, בכל הקשור להוראות והתנאים של תקנון זה.</li>
            <li> Buy&Cook שומרת לעצמה את הזכות לשנות ע&quot;פ מידת הצורך ולשיקול דעתה בלבד את תקנון זה וההוראות החלות בו וזאת ללא צורך במתן הודעה מוקדמת ו/או התראה.</li>
            <li>רישומי המערכת ו/או המחשב של Buy&Cook בלבד יהווה ראיה לכאורה לנכונותן של הפעולות.</li>
            <li>מחירי המוצרים המופיעים באתר כוללים מע&quot;מ על פי הדין בישראל.</li>
            <li>כל המחירים באתר מופיעים על גבי המוצרים המוצעים למכירה באתר ונקובים בשקלים חדשים. יובהר כי תעריפי משלוח בדואר רשום וב&quot;דואר שליחים&quot; יתווספו למחיר הבגדים ו/או המוצרים בעת ביצוע ההזמנה ובהתאם לאופי ההזמנה.</li>
            <li>Buy&Cook רשאית לעדכן את מחירי הבגדים ו/או המוצרים המוצעים למכירה באתר זה על פי שיקול דעתה הבלעדי וכמו כן את תעריפי המשלוחים על פי הצורך ללא מתן הודעה מוקדמת ו/או התרעה.</li>
            <li>Buy&Cook רשאית להציע באתר מבצעים ו/או הטבות ו/או הנחות ו/או הגרלות בכל עת. יובהר כי הפסקת או החלפת אחד מאלו נתונים להחלטת Buy&Cook בלבד  ואין Buy&Cook מחויבת במתן הודעה מוקדמת .</li>
            <li>המחיר התקף להזמנה שבוצעה באתר יהיה המחיר שצוין באתר בעת תהליך השלמת ההזמנה, היינו לאחר שהוזנו פרטי כרטיס האשראי ו/או לאחר שהושלם תהליך התשלום באמצעות חשבון Pay Pal .</li>
            <li>Buy&Cook אינה מתחייבת להחזיק מלאי של כל הבגדים ו/או המוצרים המוצעים למכירה באתר ו/או בגדים או מוצרים שתמונותיהם מפורסמות באתר.</li>
            <li>Buy&Cook אינה מתחייבת להחזיק כמות קבועה וזהה של הבגדים והדגמים ו/או המוצרים המוצעים למכירה באתר.</li>
            <li>תמונות המוצרים המופיעים באתר והמוצעים למכירה מהווים המחשה בלבד ואינן מחייבות את Buy&Cook</li>
            <li>Buy&Cook עושה כל יכולתה לוודא כי המידע המוצג באתר יוצג באופן השלם והמדויק ביותר ובשקיפות מלאה. למען הסר ספק, יובהר כי המידע המוצג באתר עלול להופיע ללא כוונת זדון ובתום לב באופן שאינו מדויק ו/או שגוי. Buy&Cook לא תישא באחריות לכל נזק אשר ייגרם ללקוח בקשר עם מידע שגוי שיופיע באתר שלא כתוצאה של כוונת זדון.</li>
        </ol>
        <p> </p>
        <p>ג. הרשמה לאתר Buy&Cook</p>
        <ol>
            <li>הנך מצהירה שאת בגיל 18 שנה ומעלה ביום ההתקשרות עם Buy&Cook וכי הינך בעלת הסמכות, הכשירות והזכות להתקשרות זו. במידה והינך קטינה, את נדרשת לצרף הסכמת אחד מהורייך ו/או אחד מהאופוטרופסים החוקיים לצורך ההתקשרות עם Buy&Cook</li>
            <li>ביצוע הרשמה לאתר Buy&Cook הינו תנאי הכרחי ונדרש לצורך ביצוע רכישה/הזמנה באתר. ההרשמה מתבצעת בתהליך פשוט ונוח במהלכו תתבקשי  למלא פרטים אישיים בטופס מכוון , בהמשך תתאפשר רכישה כמבקר/ת באתר </li>
            <li>הנך מצהירה כי הפרטים שנמסרו בעת ההרשמה לאתר Buy&Cook הינם פרטים נכונים, עדכניים ומדויקים. לידיעתך, הגשת פרטים כוזבים הינה עבירה פלילית והעושה כן צפוי להליכים משפטיים פלילים ואזרחים כאחד.</li>
            <li>הנך מצהירה, כי סיסמת הגישה לאתר Buy&Cook יישמרו מפני גישה בלתי מורשית ולא יעברו לצד ג'.</li>
            <li>יצוין כי הרשמה לאתר כשלעצמה אינה כרוכה בתשלום ואינה יוצרת התחייבות כלשהיא בהווה ו/או בעתיד מצד הלקוחה כלפי Buy&Cook</li>
            <li>לאחר ההרשמה הראשונית ישמרו הפרטים שהזנת בטופס המכוון ולא תתבקשי למלא אותם בכל רכישה מחדש מלבד פרטי כרטיס אשראי ו/או פרטי חשבונך ב Pay Pal  שאין המערכת אוגרת מידע אודותם.</li>
            <li>ההרשמה באתר יוצרת 'חשבון משתמש' אשר יאפשר לך  לצפות בהיסטוריית ההזמנות שלך.</li>
            <li>בעת ההרשמה לאתר יש להזין  שם משתמש וסיסמה וכן כתובת אי-מייל. במקרה בו שכחת את הסיסמא שבחרת, תישלח אלייך מהמערכת סיסמה חדשה לחשבון המייל שציינת בעת ההרשמה  </li>
            <li>יצוין ויובהר כי הפרטים אשר הזנת בטופס ההרשמה הם אלו אשר ישמשו את Buy&Cook ו/או עובדיה לצורך שליחת ההזמנה ו/או ליצרית קשר טלפוני בכל רכישה  או התקשרות שתבצעי וזאת כל זמן שלא תבצעי כל שינוי בפרטייך האישיים אשר מופיעים בחשבונך האישי באתר. </li>
            <li>היה וחל שינוי בפרטייך האישיים אשר מופיעים באתר, כגון : כתובת למשלוח דואר וכו' יהיה עלייך לעדכן פרטים אלו באתר טרם תבצעי הזמנה, זאת, על-מנת שתוכלי לקבל את ההזמנה ביעילות המרבית תוך זמן קצר ככל הניתן.</li>
            <li>היה ומסרת פרטים שגויים בעת מילוי טופס ההרשמה ו/או שונו פרטייך או חלק מהם ולא עדכנת פרטים אלו בחשבונך שבאתר וביצעת הזמנה והזמנתך נשלחה לנמען אחר ו/או נשלחה בחזרה לכתובת משרדי Buy&Cook בשל אי התאמה- יהיה עלייך לשאת בהוצאות השילוח וכל הוצאה נוספת אשר תגרם כתוצאה מכך באופן ישיר ו/או עקיף.</li>
            <li>על מנת למנוע שימוש לרעה בחשבונך, Buy&Cook ממליצה לך לשמור את שם המשתמש והסיסמא שלך לעצמך וכמו כן להחליף סיסמה פעמיים בשנה.</li>
            <li>Buy&Cook מתחייבת בזאת שלא לעשות שימוש בפרטי המזמינה אלא בהתאם למדיניות הפרטיות של SWIMINI אשר מהווה חלק בלתי נפרד מתנאי השימוש והרכישה באתר.</li>
        </ol>
        <p> </p>
        <p>ד. רכישת מוצרים באתר לאחר ביצוע הרשמה</p>
        <ol>
            <li>רכישת מוצרים באתר תתאפשר רק לאחר ביצוע הרשמה באתר ובכפוף להנחיות והתקנות הרשומות בתקנון זה.</li>
            <li>הזמנה שתבוצע באתר תהווה הצעה לרכישת הבגדים ו/או המוצרים המפורטים באתר. קיבול ההזמנה ע&quot;י Buy&Cook תעשה רק עם קבלת אמצעי התשלום והשלמתו.</li>
            <li>התשלום עבור רכישת הבגדים ו/או המוצרים המוצעים למכירה באתר יכול להתבצע בשתי הדרכים הבאות בלבד: באמצעות תשלום בכרטיס אשראי ו/או דרך חשבון Pay Pal .</li>
            <li>יובהר, כי Buy&Cook שומרת לעצמה את הזכות לשנות ו/או להחליף את דרכי אמצעי התשלום האפשריים באתר ע&quot;פ שיקול דעתה בלבד וללא צורך במתן הודעה מקודמת ו/או התראה.</li>
            <li>היה והוסיפה Buy&Cook אפשרות לתשלום באמצעי נוסף, יחולו ההנחיות וההוראות המופיעות בתקנון זה  גם עליו.</li>
            <li>עם ביצוע ההזמנה, תיבדק תקינות של כרטיס האשראי בו ביקשת לבצע את העסקה  ורק לאחר אישור העסקה ע&quot;י חברת האשראי ו/או ע&quot;י חברת Pay Pal תשלח אלייך הודעה בדבר אישור העסקה. </li>
            <li>הודעה בדבר אישור עסקה אינה מחייבת את Buy&Cook לספק לך את המוצרים שהזמנת והיא רק מעידה שפרטי ההזמנה ופרטי האשראי התקבלו ונקלטו במערכת האתר.</li>
            <li>יובהר כי פרטי ההזמנה כפי שהזנת בטופס ההזמנה ורישום העסקה במחשבי Buy&Cook יהוו ראיה חלוטה וסופית לנכונות הפעולות.</li>
            <li>במקרה שבו לא תאושר העסקה ע&quot;י חברת האשראי ו/או חברת Pay Pal  תקבלי הודעה בנושא ותתבקשי לספק אמצעי תשלום אחר או לבטל את ההזמנה.</li>
            <li>במקרה של ניסיון לרכישת מוצר שאזל מהמלאי וטרם עודכן באתר המידע אודות היותו חסר, Buy&Cook לא תהייה חייבת לספק את המוצר ולא תהיה כל  טענה ו/או תביעה מצדך ו/או מי מטעמך בעניין זה. לעניין זה יובהר כי אין לפרש את ההודעה בדבר אישור עסקה שנשלח אלייך מאת Buy&Cook לאחר ביצוע רכישה באתר כמחייבת את Buy&Cook לספק את המוצרים שנרכשו והודעה זו הינה בגדר אישור קליטת ההזמנה במערכת האתר בלבד .</li>
            <li>יובהר כי אישור פעולת הרכישה באתר  מותנה בהמצאות המוצר הנדרש במלאי מחסני Buy&Cook במועד ההזמנה ו/או מועד ההספקה.</li>
            <li>במקרה שבו הושלמה ההזמנה באתר ע&quot;י הזנת פרטי התשלום ויתברר כי המוצר המופיע בהזמנה חסר במלאי, יבוטל החיוב. במקרה שבוצע התשלום בפועל של סכום ההזמנה, יוחזר לך הסכום המלא בעבור ההזמנה ו ו/או יינתן לך זיכוי על פי בחירתך.</li>
            <li>במקרה של חיוב בטעות שנוצר ע&quot;י חברת האשראי, האחריות ליידע את Buy&Cook מוטלת עלייך לצורך טיפול וביצוע זיכוי.</li>
            <li>מניין הימים לביצוע המשלוח יחל ביום בו אושרה העסקה ע&quot;י חברת האשראי  או אישור מחברת .Pay Pal</li>
        </ol>
        <p> </p>
        <p>ה. אספקה ושילוח</p>
        <ol>
            <li>המוצרים יישלחו באמצעות דואר רשום של דואר ישראל בטווח זמן האספקה המופיע בתקנון זה או לפי טווח האספקה שנמסר על ידי Buy&Cook בכתב במועד המכירה, המאוחר מביניהם.</li>
            <li>הזמנות יארזו ויצאו למשלוח תוך בין 3-5 ימי עסקים ממועד אישור העסקה מחברת האשראי או מחברת Pay Pal לכל המאוחר.</li>
            <li> משלוח אשר מתבצע באמצעות דואר רשום צפוי להתקבל אצל הלקוח בתוך 14 ימי עסקים מיום אישור העסקה. Buy&Cook לא תהיה אחראית לכל עיכוב אשר נגרם כתוצאה מגורמים שאינם בשליטתה, לרבות אילוצי דואר ישראל.</li>
            <li>אזורי החלוקה של האתר כפופים לאזורי החלוקה של דואר ישראל. במקרה של הזמנה למשלוח לאזור שמחוץ לאזורי החלוקה, יהיה ביצוע ההזמנה לאותו אזור נתון לשיקול דעתה הבלעדי של Buy&Cook ואין היא מחייבת לספק לאזורים אלו.</li>
            <li>במקרה שבו בוצעה הזמנה מחוץ לאזורי החלוקה Buy&Cook תיצור קשר עם המזמינה ותעדכן אותה על כך. הצדדים ינסו להגיע לפתרון הולם. יובהר כי במקרה שבו לא ימצא פתרון למשלוח תבוטל ההזמנה, גם היא נקלטה במערכת האתר, והלקוחה תהייה מנועה מלטעון כל טענה בעניין זה. </li>
            <li>Buy&Cook אינה אחראית על עיכובים במועדי האספקה אשר תלויים בגורמים שאינם בשליטתה, אך תעמוד לרשות לקוחותיה בכל בעיה שתיווצר ותפעל כמיטב יכולתה הסבירה לפתור את הבעיה.</li>
            <li>Buy&Cook תספק אך ורק מוצרים שנתקבל עליהם אישור תשלום מחברת האשראי או מחברת  Pay Pal </li>
            <li>מועדי האספקה המופיעים בתקנון זה ובאתר אינם חלים על מוצרים אשר אזלו מהמלאי של Buy&Cook.</li>
            <li> עלויות שילוח אם יהיו כאלו, יתווספו בהתאם לסוג השילוח שבחרה הלקוחה במעמד התשלום בעמוד הקופה באתר.</li>
            <li>במקרה של עיכוב במועד האספקה על הלקוחה לעדכן באופן מיידי את Buy&Cook לצורך בירור וקביעת מועד חדש לאספקה.</li>
            <li>Buy&Cook לא תהיה אחראית לכל איחור ו/או עיכוב באספקה ו/או לאי אספקה של המוצרים כתוצאה מכוח עליון, מצב בטחוני, נזקי טבע ו/או כל אירוע מסוג אחר אשר אינו תלוי ב Buy&Cook</li>
            <li>Buy&Cook שומרת לעצמה את הזכות לשנות את דרכי השילוח המופיעים באתר ו/או להוסיף דרכי שילוח חדשות וכל זאת ללא הודעה מוקדמת והוראות תקנון זה יחולו גם עליהן.</li>
            <li>ביצוע הזמנה באתר יהווה ראיה חלוטה לאישור וקריאת תקנון זה ומהווה הצהרה כי לא תהייה למזמינה כל טענה נגד Buy&Cook ו/או מי מטעמה עקב שיבושים באספקה.</li>
        </ol>
        <p> </p>
        <p>ו. מדיניות החזרת מוצרים וביטול עסקה</p>
        <ol>
            <li>האמור בסעיף זה כפוף לחוק הגנת הצרכן התשמ&quot;א 1981 (להלן: החוק) ולתקנותיו.</li>
            <li>כל לקוחה תהייה רשאית לבטל את הזמנתה ובתנאי שהביטול נעשה בכפוף להוראות החוק.</li>
            <li>מוצרים אשר הוצעו למכירה שלא בגדר הנחות ו/או מבצעים ו/או הגרלות ו/או כל הטבה מסוג אחר, ניתן יהיה להחזיר תוך 14 יום מיום קבלת המוצר .</li>
            <li>מוצרים אשר נרכשו במסגרת מבצעים ו/או מכירות סוף עונה ניתן יהיה להחזירם תוך 2 ימי עסקים מיום קבלתם וזאת בכפוף להוראות החוק.</li>
            <li>עסקה אשר התקבלה בגינה בקשת ביטול וטרם יצאה ההזמנה לשילוח, תבוטל ע&quot;י Buy&Cook ללא חיוב כספי כולל דמי המשלוח. יובהר כי זיכוי כספי יינתן ע&quot;פ הקבוע בחוק.</li>
            <li>עסקה אשר התקבלה בגינה בקשת ביטול לאחר שיצא המוצר לשילוח, תבוטל ע&quot;י Buy&Cook אך ורק לאחר הגעת הפריט בחזרה אל מחסני Buy&Cook ויינתן בגינה זיכוי כספי מלא למעט עלות המשלוח.</li>
            <li>הלקוחה תשלח בחזרה את המוצר על חשבונה.</li>
            <li>במידה והלקוחה רוצה להחליף מוצר, היא תשלח את המוצר למחסני Buy&Cook על חשבון Buy&Cook והמוצר החלופי יישלח אליה על חשבון Buy&Cook. </li>
            <li>יראו את הקריטריונים הבאים כמחייבים כתנאי לקבלת הזיכוי:</li>
        </ol>
        <ol>
            <li>המוצר יוחזר למחסני Buy&Cook ללא פגם ו/או נזק, במצב פיזי זהה למצבו כפי שנשלח ללקוחה ומבלי שנעשה בו שימוש כלשהו.</li>
            <li>תצורף למוצר חשבונית מס/קבלה מקורית, כפי שהתקבל בידי הלקוחה.</li>
            <li>לעניין זה יובהר, כי במידה ולא יוחזר הבגד במצב ובתנאים המדויקים כאמור לעיל, לא ייתן זיכוי כספי ו/או שובר זיכוי ו/או כל סוג אחר של זיכוי. למען הסר ספק, לצורך קביעת מצב המוצר המוחזר ולצורך מתן זיכוי כספי ו/או שובר להחלפה תהיה Buy&Cook המוסמכת היחידה והבלעדית לקבוע את מצב המוצר בהתאם לתנאים בסעיף 8 לעיל.</li>
            <li>לעניין פגם שנמצא במוצר לאחר שיצא ממחסני Buy&Cook ונשלח אל הלקוחה, ולא התקבלה הודעה אצל Buy&Cook בדבר היותו של המוצר פגום, בתוך 24 שעות מרגע קבלתו בידי הלקוחה, יהווה הדבר הוכחה כי לא נפל פגם במוצר וללקוחה לא תהייה כל טענה כנגד Buy&Cook בדבר קיומו של פגם במוצר.</li>
            <li>היה ואושר ביטול העסקה ע&quot;י Buy&Cook, יבוצע הזיכוי בכרטיס האשראי בו בוצעה העסקה בלבד ובאותם תנאים בהם בוצעה עסקת הרכישה.</li>
            <li>בקשה לביטול עסקה תתבצע ע&quot;י העברת הבקשה לBuy&Cook באמצעות שליחת דואר אלקטרוני.</li>
            <li>ביצוע ביטול עסקה מול חברת האשראי יהיה כפוף ללוחות הזמנים ולנהלים של חברת האשראי וBuy&Cook תעשה כל שביכולתה על מנת לוודא טיפול מהיר ויעיל של חברת האשראי.</li>
        </ol>
        <p> </p>
        <p>ז. אחריות Buy&Cook</p>
        <ol>
            <li>Buy&Cook ו/או מי מטעמה לא יהיו אחראים ולא יישאו בכל נזק ישיר ו/או עקיף, תוצאתי או מיוחד שיגרם למזמינה ו/או לרוכשת ו/או ללקוחה ו/או למשתמשת ו/או לצד שלישי כתוצאה משימוש ו/או רכישה באתר או באמצעותו שלא ע&quot;פ תקנון זה- תהה עילת התביעה אשר תהא- לרבות הפסד הכנסה ו/או מניעת רווח שיגרמו מכל סיבה שהיא.</li>
            <li>נפלה טעות קולמוס בתיאור המוצר, לא יחייב הדבר את Buy&Cook</li>
            <li>תמונות המוצרים באתר הינן להמחשה בלבד וייתכנו שינויים ו/או הבדלים בין אם בגוון ו/או בגודל ובכל קריטריון אחר בין התמונות המוצגות באתר, חלקן או כולן, לבין המוצרים הנמכרים בפועל, ולBuy&Cook לא תהא כל אחריות בעניין זה כלפי הלקוחה. יובהר כי Buy&Cook תפעל כמיטב יכולתה הסבירה על מנת למנוע שינויים והבדלים כאמור.</li>
            <li>בשום מקרה לא תישא Buy&Cook באחריות כלשהי, בסכום העולה על ערך המוצר ו/או המוצר שנרכש וסכום הרכישה של ההזמנה יהווה תקרת פיצוי מירבי שייפסק לטובת הלקוחה כנגד כל נזק שייגרם ללקוחה .</li>
            <li>Buy&Cook לא תהייה אחראית לכל נזק שייגרם למוצר או לצד ג' כתוצאה של שימוש שתעשה הרוכשת הלקוחה או מי מטעמה שלא בהתאם להוראות היצרן ו/או Buy&Cook לרבות ניקוי שלא בהתאם להוראות הכביסה ו/או כל שימוש אחר.  </li>
            <li>זכות הלקוחה במקרה של רכישת מוצר פגום יהיה קבלת זיכוי כספי בסכום הרכישה בלבד ובתנאי שהוא כפוף לתקנות אלו או קבלת שובר זיכוי לרכישה חדשה.</li>
        </ol>
        <p> </p>
        <p> </p>
        <p>ח.  קניין רוחני</p>
        <ol>
            <li>כל זכויות הקניין הרוחני באתר Buy&Cook, לרבות פטנטים, זכויות היוצרים, הדגמים, השיטות והסודות המסחריים, הנם רכושה של Buy&Cook בלבד.</li>
        </ol>
        <p>זכויות אלו חלות בין היתר על עיצובו הגרפי של האתר, לרבות רשימת המוצרים, תיאור ועיצוב הבגדים, וכל פרט אחר הקשור להפעלתו.</p>
        <ol>
            <li>אין להעתיק ו/או לשכפל ו/או להפיץ ו/או למכור ו/או לשווק ו/או לתרגם מידע כלשהו מהאתר, לרבות סימני מסחר, טקסטים, תמונות וכיו&quot;ב ללא קבלת רשותה המפורשת מראש ובכתב של Buy&Cook</li>
            <li>אין לעשות כל שימוש מסחרי בנתונים המתפרסמים באתר זה, בבסיס הנתונים של האתר, ברשימת המוצרים או בפרטים אחרים המתפרסמים בו בלא קבלת הסכמתה של Buy&Cook מראש ובכתב.</li>
            <li>אין להשתמש בנתונים כלשהם המתפרסמים באתר זה לצורך הצגתם באתר אינטרנט או בשירות אחר כלשהו וכיו&quot;ב, ללא הסכמתה של Buy&Cook בכתב ומראש ובכפוף לתנאי אותה הסכמה באם תינתן. יובהר, כי בכלל זה נאסר לאסוף נתונים מן האתר באמצעות תוכנות ו/או להפיץ נתונים כאלה ברבים באופן מסחרי או במסגרת מסחרית.</li>
            <li>אין להציג את האתר בתוך מסגרת (Frame), בין אם גלויה או סמויה, ואין לבצע קישור &quot;עמוק&quot; (קישור לעמודים המצויים בתוכו), אלא לעמוד הבית בלבד.</li>
            <li>השם Buy&Cook וכן שם המתחם (domain name) של האתר, סימני המסחר בין אם רשומים ובין שלא, הם כולם רכושה של SWIMINI בלבד ולא יעשה בהם שימוש, ישיר או עקיף , ללא הסכמת Buy&Cook בכתב ומראש.</li>
            <li>ככל שיש סימני מסחר (לרבות תמונות, שרטוטים וכדומה) שנמסרו לפרסום על ידי החברות המציעות מוצרים ושירותים למכירה באתר, כי אז סימני מסחר ומידע זה הנם רכושן של אותן חברות ואין להשתמש בהם ללא הסכמתן.</li>
            <li>כל התוכן המילולי, אייקונים (ICONS) כל מידע ו/או תצוגה המופיעים באתר, לרבות גרפיקה, עיצוב, הצגה מילולית, סימני מסחר, סימני לוגו לרבות עריכתם והצגתם באתר, הנם בבעלותם הבלעדית של Buy&Cook.</li>
            <li>יש להשתמש בשירותי האתר למטרות חוקיות בלבד.</li>
            <li>אין להעתיק ולהשתמש, או לאפשר לאחרים להשתמש, בכל דרך אחרת בתכנים מתוך האתר, לרבות באתרי אינטרנט אחרים, בפרסומים אלקטרוניים, בפרסומי דפוס וכיו&quot;ב, לכל מטרה אחרת.</li>
            <li>אין להפעיל או לאפשר להפעיל כל יישום מחשב או כל אמצעי אחר, לרבות תוכנות מסוג Crawlers, Robots וכדומה, לשם חיפוש, סריקה, העתקה או אחזור אוטומטי של תכנים מתוך האתר. בכלל זה, אין ליצור ואין להשתמש באמצעים כאמור לשם יצירת לקט, אוסף או מאגר שיכילו תכנים מהאתר.</li>
            <li>אין להציג תכנים מהאתר בכל דרך שהיא – ובכלל זה באמצעות כל תוכנה, מכשיר, אביזר או פרוטוקול תקשורת &#8211; המשנים את עיצובם באתר או מחסירים מהם תכנים כלשהם ובפרט פרסומות ותכנים מסחריים.</li>
        </ol>
        <p> </p>
        <p>ט. מדיניות פרטיות</p>
        <ol>
            <li>לצורך רכישה באתר על המזמינה למלא טופס מכוון שבו יש למלא פרטים אישיים ולבחור שם משתמש וסיסמה אשר יצרו 'חשבון משתמש' עבור הלקוחה וחשבון זה ילווה אותה בכל רכישה באתר.</li>
            <li>יובהר כי מסירת פרטים אישיים נעשית ע&quot;פ רצון הלקוחה בלבד ולעניין זה יראו במילוי הפרטים האישיים בטופס המכוון ע&quot;י הלקוחה כהסכמתה למסירתם.</li>
            <li>מטרת מסירת הפרטים הינה לאפשר לBuy&Cook לספק את המוצרים ללקוחה.</li>
            <li>במסגרת מדיניות Buy&Cook מתחייבת שלא להעביר לצדדים שלישיים את הפרטים האישיים של המשתמשים אשר נשמרים במאגר המידע של האתר אלא באישור ובהסכמת המשתמש עצמו, וזאת למעט במקרים הבאים:</li>
            <li> </li>
        </ol>
        <ol>
            <li>שימוש בפרטי הלקוחה וכל מידע אודותיה המצוי בידי האתר לשם התקשרות עימה.</li>
            <li>במקרה של מחלוקת משפטית בין הלקוחה לבין Buy&Cook שתחייב חשיפת פרטי הלקוחה עפ&quot;י דין ו/או לצורך הליכים משפטיים.</li>
            <li>במקרה והלקוחה תבצע פעולות המהוות עבירה פלילית ובניגוד לדין.</li>
            <li>במקרה בו הלקוחה תפר את הסכם תנאי השימוש ותקנון האתר.</li>
            <li>במקרה בו יתקבל צו שיפוטי המורה לBuy&Cook למסור את הפרטים של הלקוחה לצד ג'.</li>
            <li>במקרה בו SWIMINI תמכור ו/או תעביר בכל צורה שהיא את פעילות האתר לצד ג', ובלבד שאותו צד ג' יקבל על עצמו כלפי הלקוחה את הוראות מדיניות הפרטיות.</li>
            <li>במקרה בו יוחלט על העברת הגבייה ו/או צורת התשלום ו/או שירות הלקוחות של האתר לצד ג' ו/או על הזמנת ניתוחים סטטיסטיים מצד ג', יועבר לאותו צד ג' אך ורק המידע הדרוש לצורך מתן השירות הרלבנטי, וזאת בכפוף להתחייבות צד ג' לשמור על מאגר המידע.</li>
        </ol>
        <ol>
            <li>Buy&Cook נוקטת באמצעי זהירות מקובלים על מנת לשמור, ככל האפשר, על סודיות המידע. כל העברה של מספר כרטיס אשראי מהאתר נעשית באופן מוצפן לפי תקן אך בקיום מקרים שאינה בשליטתה ו/או הנובעים מכח עליון, Buy&Cook לא תהא אחראית לכל נזק מכל סוג שהוא, עקיף או ישיר, שייגרם ללקוחה ו/או למי מטעמה אם מידע זה יאבד או אם יעשה בו שימוש לא מורשה.</li>
            <li>אבטחת המידע האישי של הלקוחה חשובה לBuy&Cook ומהווה נר לרגליה, לצורך כך Buy&Cook נוקטת בצעדים מרביים כדי להגן על הנתונים האישים הנשלחים באמצעות האתר, מפני אובדן, שימוש לרעה, גישה לא מורשת, גילוי, שינוי או הרס.</li>
            <li>יחד עם זאת, לצערה של Buy&Cook לא ניתן לשלול שיבושים אפשריים באופן מוחלט, ע&quot;כ מצהירה הלקוחה ונותנת בזאת הסכמתה, כי לא תהיה לה כל טענה ו/או דרישה ו/או זכות לתביעה כנגד Buy&Cook ו/או מי מטעמה במקרה של נזקים שייגרמו מתקלות ו/או שיבושים כאמור.  </li>
            <li>פרטי ההתחברות/התקשרות של הלקוחה לשירותים הניתנים באתר הינם אישיים ואין להעבירם לצד ג'. על הלקוחה האחריות והחובה לדאוג שפרטים אלו לא ייחשפו ולעדכן את Buy&Cook במקרה בו קיים חשש שהפרטים אכן נחשפו.</li>
            <li>Buy&Cook מתחייבת שלא לעשות כל שימוש במידע הפרטי של לקוחותיה ללא הרשאתן אלא אם כן הדבר נדרש ע&quot;פ דין או בכדי למנוע שימוש לרעה.</li>
            <li>פרטי כרטיסי האשראי המוזנים באתר אינם נשמרים במחשבי האתר ונמחקים מהמערכת מיד לאחר ביצוע העסקה.</li>
            <li>Buy&Cook הינו אתר מאובטח אשר משתמש בחברת פיי-ווארשהינה חברת סליקת כרטיסי אשראי ואבטחה המובילה בישראל לצורך בדיקת ואבטחת המידע.</li>
            <li>Buy&Cook עושה מאמץ לספק למזמינה שירות תקין ובאיכות גבוהה. יחד עם זאת, Buy&Cook אינה מתחייבת שהשירות באתר לא יופרע, יינתן כסדרו או בלא הפסקות, יתקיים בבטחה וללא טעויות, ויהיה חסין מפני גישה בלתי-מורשית למחשבי Buy&Cook, נזקים, קלקולים, תקלות או כשלים &#8211; לרבות תקלות בחומרה, בתוכנה או בקווי התקשורת לאתר &#8211; אצל Buy&Cook או אצל מי מספקיה.</li>
            <li>בהתאם לחוק הספאם בישראל רשאית כל לקוחה של Buy&Cook לבקש שלא לקבל מידע פרסומי ו/או הודעות פרסומיות וזאת ע&quot;י הודעה לBuy&Cook באמצעות שליחת אי-מייל ו/או יצרית קשר טלפוני.</li>
            <li>יודגש כי Buy&Cook לא תישא בכל אחריות ביחס להודעות שיתקבלו או שיישלחו באמצעות האתר (לרבות הודעות שישלחו ללקוחות ע&quot;י משתמשים אחרים באמצעות שירותי האתר), תוכנן של הודעות כאלה או כל קובץ מחשב שיצורף להן, פעולתו של כל קובץ כאמור, השפעתו על מחשב המשתמש וכל נזק, אובדן, אי נוחות, עוגמת נפש וכיו&quot;ב, תוצאות, ישירות או עקיפות, שייגרמו למשתמש או לכל צד שלישי בשל הודעות שיתקבלו באמצעות שירותי האתר או יישלחו באמצעותו המשתמש וכל נזק, אובדן, אי נוחות, עוגמת נפש וכיו&quot;ב, תוצאות, ישירות או עקיפות, שייגרמו למשתמש או לכל צד שלישי בשל הודעות שיתקבלו באמצעות שירותי האתר או יישלחו באמצעותו.</li>
            <li>האתר עשוי להשתמש ב&quot;cookies&quot; (עוגיות) לצורך תפעולו השותף והתקין, ובכלל זה כדי לאסוף נתונים סטטיסטיים אודות השימוש באתר ולאימות פרטים, וזאת בכדי להתאים את האתר להעדפות האישיות של הלקוחות ולצורכי אבטחת המידע. טכנולוגית ה-  cookiesהינה סטנדרטית וקיימת ברוב אתרי האינטרנט המרכזיים. מרבית הדפדפנים כוללים אפשרות להימנע מקבלת cookies . חשוב לדעת, כי בכדי לנצל את יישומי האתר, מומלץ שלא לבטל את ה- cookies של האתר.</li>
            <li>הגנה מיוחדת על קטינים: האתר אינו אוסף ביודעין מידע אישי לגבי קטינים, אלא באישור הורה / אפוטרופוס. במידה ויש ללקוחה סיבה להניח או להאמין, כי קטין סיפק פרטים אישיים באתר, מתבקשת הלקוחה לפנות לBuy&Cook וBuy&Cook תשתדל למחוק את המידע ממסדי הנתונים שלה   </li>
        </ol>
        <p> </p>
        <p>י. סמכות שיפוט</p>
        <ol>
            <li>על השימוש באתר Buy&Cook יחולו דיני מדינת ישראל.</li>
            <li>סמכות השיפוט הבלעדית והיחידה נתונה לביהמ&quot;ש השלום ברחובות בלבד.  </li>
        </ol>
        <p><br /><br /></p>
    </t>

</body>

<p>Use this page to detail your site's privacy policy.</p>
