
@model IEnumerable<WebProject.Models.Category>

@{
    ViewData["Title"] = "Categories";
}
<body>
    <h1 style="        text-align: center;
        font-size: 50px;
        text-decoration-line: underline;
">
        Categories
    </h1>

    <div class="container">
        <div class="row ">
            @foreach (var item in Model)
            {
                <div class="card text-center" style="width: 18rem;background-color:transparent;margin:15px;border:none;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center;font-size:20px;font-weight:bold">@item.Name</h5>
                        <a type="button" class="mx-auto" asp-action="Details" asp-route-id="@item.CategoryId"><img src="@item.ImagePath" style="float: left; width: 200px; height: 200px; background-size:cover; border-radius: 50%;" alt="Avatar"></a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
