
@model IEnumerable<WebProject.Models.Category>
@section styles{

    <link rel="stylesheet" href="~/css/categories_index.css" />
    <link rel="stylesheet" href="~/css/home_index_.css" />
        <link rel="stylesheet" href="~/css/layout_home.css" />

    }


@{
    ViewData["Title"] = "Categories";

}
<body>
    @if (this.User.IsInRole("Admin"))
    {

        <a class='btn btn-outline-light' style="background-color: #ac8d99;font-size:large;" asp-action="Create"> ליצירת קטגוריה חדש</a>
    }
        <div class='our-work text-center'>
            <div class='container'>
                <h2 class='upper'>הקטגוריות <span class='main-color'>שלנו</span></h2>
                &nbsp;
                &nbsp;
                <div class='items-box'>
                    @foreach (var item in Model)
                    {
                        <div class='item'>
                            <img src='@item.ImagePath' alt='Work 4'>
                            <div class='over text-center'>
                                &nbsp;
                                <h9 class='text-center'>@item.Name</h9>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <div class='buttons'>
                                    <p>
                                        <a class='btn btn-outline-light' style="background-color: #ac8d99;font-size:x-large;" asp-action="Details" asp-route-id="@item.CategoryId">לצפייה במתכונים</a>
                                    </p>
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <p>
                                            <a class='btn btn-outline-light' style="background-color: #ac8d99;font-size:x-large;" asp-action="Delete" asp-route-id="@item.CategoryId">מחק מתכון</a>
                                        </p>
                                    }
                                    </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </body>
