
@{
    ViewData["Title"] = "Statistics";
}

<h1>Admin Statistics :</h1>

<html>
<head>
    <script language="JavaScript" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@1"></script>
    <style>
        #chart_container {
            /*            width:400px;
            height:400px;*/
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 4px;
            background-color: white;
        }
    </style>
</head>
<body>
    <div id="chart_container">
    <canvas id="chart-0"></canvas>
        </div>
    <script>

                repArray = @Json.Serialize(ViewBag.REP);
                cats = @Json.Serialize(ViewBag.REP);


                    /* data */
                    var data = {
                        labels: ['Sweet', 'Salty','Pastry'],
                        datasets: [{
                            label: 'Recipes Chart',
                            data: repArray,
                            /* global setting */
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)'
                            ],
                            borderWidth: 1
                        }]
                    };

                    var options = {
                        legend: {
                            display: true,
                            fillStyle: "red",

                            labels: {
                                boxWidth: 0,
                                fontSize: 24,
                                fontColor: "black",
                            }
                        },
                        scales: {
                            xAxes: [{
                                stacked: false,
                                scaleLabel: {
                                    display: true,
                                    
                                },
                            }],
                            yAxes: [{
                                stacked: true,
                                scaleLabel: {
                                    display: true,
                                    
                                },
                                ticks: {
                                    suggestedMin: 0,
                                    suggestedMax: 10
                                }
                            }]
                        },/*end scales */
                        //   plugins: {
                        //     // datalabels plugin
                        //     /*https://chartjs-plugin-datalabels.netlify.com*/
                        //     datalabels: {
                        //       color: 'black',
                        //       font:{
                        //         size: 25
                        //       }
                        //     }
                        //   }
                    };

                    var chart = new Chart('chart-0', {
                        //plugins: [ChartDataLabels], /*https://chartjs-plugin-datalabels.netlify.com*/
                        type: 'bar',
                        data: data,
                        options: options
                    });
    </script>
</body>

</html>
