@model WebProject.Models.Users

@{
    ViewData["Title"] = "SignIn";
    Layout = "_LoginLayout";
}

@section styles{

    <link rel="stylesheet" href="~/css/signin_signup.css" />
}


<div class="control-label"> <a class="btn btn-light" style="font-size:20px;color:hotpink;display:flw" href="/home/index">Watch as a guest</a> </div>


<div class="login-wrap">
    <div class="login-html">
        <form asp-action="SignIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" data-type="password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            &emsp;
            <div class="form-group">
                <input type="submit" value="SignIn" class="btn btn-light" style="font-size:25px;color:hotpink;" />
            </div>
            &emsp;
            <div class="control-label">Not Registered? <a class="btn btn-light" style="font-size:20px;color:hotpink;" href="/Users/SignUp">Click Here </a> </div>
            &emsp;
            <div class="control-label"> <a class="btn btn-light" style="font-size:15px;color:hotpink;" href="/Home/Index">Back to home page </a> </div>
            @if (ViewBag.Error != null)
            {
                <div class="text-danger">@ViewBag.Error</div>

            }
        </form>
    </div>


</div>
<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2020/10/20/21/53/donuts-5671538_1280.jpg");
        background-attachment: fixed;
    }
</style>
<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*<form asp-action="SignUp">
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="font-size:30px;">Sign In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab" style="font-size:30px;">Sign Up</label>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="login-form">
                    <div class="sign-in-htm" style="line-height:300%;">
                            <div class="form-group">
                                <label asp-for="Username" class="control-label">Username</label>
                                <input asp-for="Username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label">Password</label>
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="check">
                                <input id="check" type="checkbox" class="check text-md-left" style="height:30px;width:30px;" checked>
                                <label ="check"><span class="check"></span> Keep me Signed in</label>
                                &nbsp;
                            </div>
                            <div class=" btn btn-light">
                                <input type="submit" class="btn" style="color:plum;font-size:30px;" value="Sign In">
                            </div>
                            <div class="hr"></div>
                        </div>


                </div>

            </div>
        </div>
    </form>*@