@RenderSection("scripts", required: false)
@RenderSection("styles", required: false)
<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/layout_home.css" />
</head>

<body>
    <!-- כאן יימצא גוף הדף -->
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>

</html>







