@RenderSection("scripts", required: false)
@RenderSection("styles", required: false)
<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/homepage.css" />
</head>

<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2020/10/20/21/53/donuts-5671538_1280.jpg");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

</style>

<body>
    <!-- כאן יימצא גוף הדף -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>

</html>







