@model IEnumerable<WebProject.Models.Recipe>
@section styles{

    <link rel="stylesheet" href="~/css/categories_index.css" />
    <link rel="stylesheet" href="~/css/home_index_.css" />
    <link rel="stylesheet" href="~/css/layout_home.css" />

}


@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align: center;
        font-size: 80px;
        font-weight: revert;
        -webkit-text-stroke: thin;
        color: palevioletred;
    }
">Our Spaciel Cakes !</h1>
@if (this.User.IsInRole("Admin"))
{
<p style="text-align:center">
    <div class="control-label" style="text-align: center;"> <a class="btn btn-light" style="
        background-color: mediumpurple;
        color: antiquewhite;
        font-variant: all-small-caps;
        font-size: 19px;
        font-weight: bold;
" asp-action="Create">Create New </a> </div>
</p>
}
<div class='our-work text-center'>
    <div class="container" >
        <h2 class='upper'>המתכונים <span class='main-color'>שלנו</span></h2>
        &nbsp;
        &nbsp;
        <div class='items-box'>
            @foreach (var item in Model)
            {   
                <div class='item'>
                    <img src='@item.ImagePath' alt='Work 4'>
                    <div class='over text-center'>
                        &nbsp;
                        <h9 class='text-center'>@item.Name</h9>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <div class='buttons'>
                            <p>
                                <a class='btn btn-outline-light' style="background-color: #ac8d99;font-size:x-large;" asp-action="Details" asp-route-id="@item.RecipeId">לצפייה במתכון</a>
                            </p>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <p>
                                    <a class='btn btn-outline-light' style="background-color: #ac8d99;font-size:x-large;" asp-action="Delete" asp-route-id="@item.RecipeId">מחק מתכון</a>
                                </p>
                            }
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>
</div>