@model WebProject.Models.CreditCard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CreditCard</h4>
<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="NumberCard" />
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberCard" class="control-label"></label>
                    <input asp-for="NumberCard" class="form-control" />
                    <span asp-validation-for="NumberCard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Csv" class="control-label"></label>
                    <input asp-for="Csv" class="form-control" />
                    <span asp-validation-for="Csv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" onclick="history.go(-1)">Cancel</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
