h7 {
    text-align: center;
    font-size: 50px;
    text-decoration-line: underline;
}

#chart_container {
    /*            width:400px;
            height:400px;*/
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 4px;
    background-color: white;
}


h4 {
    text-align: center;
    font-size: 25px;
}
h9 {
    text-align: center;
    font-size: 40px;
}
.our-work {
    padding: 50px 0;
}

    .our-work h2 {
        font-weight: 500px;
        font-size: 35px;
        margin-bottom: 0;
    }

        .our-work h2 ~ p {
            line-height: 2;
            margin: 10px 0 40px;
            color: black;
            font-size: larger;
        }

    .our-work .items-box .item img {
        width: 400px;
        height: 400px;
    }

    .our-work .show-more {
        width: 180px;
        padding: 10px;
        margin-top: 20px;
        background-color: transparent;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

        .our-work .show-more:hover {
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
            color: #fff;
            transition: all .5s ease-in-out;
        }

    .our-work .items-box {
        overflow: hidden;
    }

        .our-work .items-box .item {
            position: relative;
            width: 30%;
            float: left;
            margin-left: 1.3%;
            margin-bottom: 12px;
            border-radius: 10px;
            overflow: hidden;
        }

            .our-work .items-box .item:hover .over {
                display: block;
            }

            .our-work .items-box .item .over {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--main-color-rgba);
                color: #fff;
            }

                .our-work .items-box .item .over h4 {
                    margin-top: 80px;
                    margin-bottom: 0;
                    font-size: 24px;
                }

                .our-work .items-box .item .over p {
                    margin-top: 10px;
                    margin-bottom: 50px;
                    line-height: 2;
                }

                .our-work .items-box .item .over button {
                    width: 180px;
                    padding: 10px;
                    background-color: transparent;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    transition: all .5s ease-in-out;
                }

                    .our-work .items-box .item .over button:hover {
                        background-color: #fff;
                        color: var(--main-color);
                        border: 1px solid #fff;
                        transition: all .5s ease-in-out;
                    }
