/* Start Global */
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg) format('jpg');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-color: #ac8d99;
    --main-color-rgba: rgba(172,141,153,.9);
}

:focus {
    outline: none;
}



button {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

::-webkit-input-placeholder {
    font-size: 14px;
}

:-moz-input-placeholder {
    font-size: 14px;
}

:-ms-input-placeholder {
    font-size: 14px;
}

/* End Global */

/* Start Framework */

.container {
    position: relative;
    width: 1200px;
    margin: auto;
    background-color:white;
}

.text-center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
    color:black;
}

.main-color {
    color: var(--main-color);
}

.main-background {
    background-color: var(--main-color);
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.6);
}

.table {
    display: table;
    height: 100%;
    background-color:white;
}

.table-row {
    display: table-row;
}

.hidden {
    display: none;
}

/* End Framework */

/* Start Header*/

.header {
    background: url('https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}


    .header .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 0;
        overflow: hidden;
    }

        .header .navbar .logo {
            font-size: 24px;
        }

        .header .navbar .links {
            float: right;
        }

            .header .navbar .links i {
                margin-left: 5px;
            }

    .header .intro h1 {
        margin: 0;
        font-size: 65px;
        font-weight: 800;
    }

    .header .intro p {
        margin: 5px 0 40px;
        line-height: 1.9;
        font-size: 20px;
        color: black;
    }

    .header .buttons button {
        background-color: transparent;
        width: 180px;
        margin: 0 8px;
        padding: 10px 0;
        font-size: 14px;
        color: black;
        border: 1px solid #909090;
        border-radius: 10px;
        transition: all .5s ease-in-out;
    }

        .header .buttons button:hover {
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
            transition: all .5s ease-in-out;
        }


/* End Header*/

/* Start Features */

.features {
    padding: 80px 0;
    overflow: hidden;
}

    .features .box {
        width: 22%;
        margin-right: 4%;
        float: left;
    }

        .features .box:last-child {
            margin-right: 0;
        }

        .features .box i {
            width: 120px;
            height: 120px;
            color: var(--main-color);
            line-height: 120px;
            border: 1px solid #ccc;
            border-radius: 50%;
            transition: all .5s ease-in-out;
        }

            .features .box i:hover {
                background-color: var(--main-color);
                color: #fff;
                border: 1px solid var(--main-color);
                transition: all .5s ease-in-out;
            }

        .features .box h3 {
            color: #505050;
            font-weight: normal;
            text-transform: uppercase;
        }

        .features .box p {
            line-height: 1.9;
            color: #888;
        }

/* End Features */

/* Start Subscribe */

.subscribe {
    background: url('https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

    .subscribe form {
        width: 700px;
        margin: auto;
        padding: 100px 0;
        text-align: center;
    }

        .subscribe form input[type='email'] {
            position: relative;
            width: 320px;
            height: 37px;
            top: 2px;
            padding: 0 10px;
            font-size: 20px;
            line-height: 37px;
            border: none;
            border-radius: 10px;
        }

        .subscribe form button {
            width: 200px;
            padding: 10px;
            margin-left: 20px;
            background-color: var(--main-color);
            color: #fff;
            font-size: 14px;
            border: none;
            border-radius: 10px;
        }

/* End Subscribe */

/* Start Our Work */

.our-work {
    padding: 50px 0;
}

    .our-work h2 {
        font-weight: 500px;
        font-size: 35px;
        margin-bottom: 0;
    }

        .our-work h2 ~ p {
            line-height: 2;
            margin: 10px 0 40px;
            color: black;
            font-size: larger;
        }

    .our-work .items-box .item img {
        width: 400px;
        height: 400px;
    }

    .our-work .show-more {
        width: 180px;
        padding: 10px;
        margin-top: 20px;
        background-color: transparent;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

        .our-work .show-more:hover {
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
            color: #fff;
            transition: all .5s ease-in-out;
        }

    .our-work .items-box {
        overflow: hidden;
    }

        .our-work .items-box .item {
            position: relative;
            width: 30%;
            float: left;
            margin-left: 1.3%;
            margin-bottom: 12px;
            border-radius: 10px;
            overflow: hidden;
        }

            .our-work .items-box .item:hover .over {
                display: block;
            }

            .our-work .items-box .item .over {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--main-color-rgba);
                color: #fff;
            }

                .our-work .items-box .item .over h4 {
                    margin-top: 80px;
                    margin-bottom: 0;
                    font-size: 24px;
                }

                .our-work .items-box .item .over p {
                    margin-top: 10px;
                    margin-bottom: 50px;
                    line-height: 2;
                }

                .our-work .items-box .item .over button {
                    width: 180px;
                    padding: 10px;
                    background-color: transparent;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    transition: all .5s ease-in-out;
                }

                    .our-work .items-box .item .over button:hover {
                        background-color: #fff;
                        color: var(--main-color);
                        border: 1px solid #fff;
                        transition: all .5s ease-in-out;
                    }

/* End Our Work */

/* Start Testimonials */

.testimonials {
    background: url('https://images.wallpaperscraft.com/image/mask_hood_anonymous_125982_3840x2160.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

    .testimonials .client {
        padding: 50px 0;
        font-size: 20px;
    }

        .testimonials .client img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .testimonials .client p {
            font-style: italic;
            line-height: 2;
        }

    .testimonials .fa-chevron-left,
    .testimonials .fa-chevron-right {
        position: absolute;
        top: 50%;
        color: #999;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

        .testimonials .fa-chevron-left:hover,
        .testimonials .fa-chevron-right:hover {
            color: var(--main-color);
            transition: all .5s ease-in-out;
        }

    .testimonials .fa-chevron-left {
        left: 0;
    }

    .testimonials .fa-chevron-right {
        right: 0;
    }

/* End Testimonials */

/* Start Our Team */

.our-team {
    padding: 50px 0;
}

    .our-team h2 {
        font-size: 35px;
        margin-bottom: 0;
    }

    .our-team .main {
        margin: 10px 0 40px;
        font-size: 20px;
        line-height: 2;
        color: #666;
    }

    .our-team .the-team {
        overflow: hidden;
    }

        .our-team .the-team .person {
            width: 24%;
            float: left;
            margin-left: 1%;
            color: #888;
        }

            .our-team .the-team .person:hover img {
                filter: none;
                filter: grayscale(0);
                transition: all .5s ease-in-out;
            }

            .our-team .the-team .person:hover {
                color: #555;
                transition: all .5s ease-in-out;
            }

                .our-team .the-team .person:hover .social-icons .fa-facebook {
                    background-color: #3b5998;
                    transition: all .5s ease-in-out;
                }

                .our-team .the-team .person:hover .social-icons .fa-twitter {
                    background-color: #55acee;
                    transition: all .5s ease-in-out;
                }

                .our-team .the-team .person:hover .social-icons .fa-google-plus {
                    background-color: #dc4e41;
                    transition: all .5s ease-in-out;
                }

            .our-team .the-team .person img {
                width: 265px;
                height: 290px;
                filter: gray;
                filter: grayscale(1);
                transition: all .5s ease-in-out;
            }

            .our-team .the-team .person p {
                font-size: 15px;
            }

            .our-team .the-team .person .social-icons i {
                width: 30px;
                height: 30px;
                line-height: 30px;
                background-color: #9da1a5;
                color: #fff;
                border-radius: 50%;
                transition: all .5s ease-in-out;
            }

/* End Our Team */

/* Start Contact Form */

.contact {
    background: url('https://image.freepik.com/free-vector/colorful-donuts-set_74855-6310.jpg');
    background-attachment: fixed;
    background-size: cover;
}

    .contact .overlay {
        padding: 50px 0;
        color: #fff;
    }

    .contact h2 {
        font-size: 35px;
        color:black;
    }

    .contact form {
        width: 700px;
        margin: 50px auto;
        text-align: center;
        overflow: hidden;
    }

        .contact form input[type='email'],
        .contact form input[type='text'] {
            width: 48%;
            height: 40px;
            padding: 0 10px;
            line-height: 40px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .contact form input[type='email'] {
            float: left;
        }

        .contact form input[type='text'] {
            float: right;
        }

        .contact form textarea {
            width: 100%;
            height: 140px;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .contact form .info {
            margin-top: 10px;
            overflow: hidden;
        }

            .contact form .info button {
                width: 200px;
                padding: 10px;
                float: left;
                background-color: var(--main-color);
                color: #fff;
                font-size: 14px;
                border: none;
                border-radius: 10px;
            }

            .contact form .info .form-icons i {
                width: 30px;
                height: 30px;
                margin-left: 5px;
                float: right;
                line-height: 30px;
                color: #fff;
                border-radius: 50%;
            }

            .contact form .info .form-icons .fa-facebook {
                background-color: #3b5998;
            }

            .contact form .info .form-icons .fa-twitter {
                background-color: #55acee;
            }

            .contact form .info .form-icons .fa-google-plus {
                background-color: #dc4e41;
            }

/* End Contact Form */

/* Start Footer */

.footer {
    padding: 20px 0;
    background-color: #3b434c;
    color: #fff;
    overflow: hidden;
    width: 100%;

}

    .footer .copyright {
        float: left;
    }

    .footer .design {
        float: right;
    }
.w {
    background-color: transparent;
    width: 180px;
    margin: 0 8px;
    padding: 10px 45px;
    font-size: 14px;
    color: black;
    border: 1px solid #909090;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    text-decoration: color: var(--main-color);
    font-weight: bold;
}


/* End Footer */
