
body {
    background-image: url("https://cdn.pixabay.com/photo/2020/10/20/21/53/donuts-5671538_1280.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.footerr {
    position: unset;
    bottom: -35px;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    white-space: normal;
    display: -webkit-box
}

.footer {
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    white-space: normal;
    line-height: 5px;
    position: absolute;
    bottom: -6%;
    display: -webkit-box
}
.big-font {
    font-size: 40px;
    font-style: inherit
}
.text-reset-p {
    font-size: 20px;
}
.choiceStyle {
    background-color: white;
    height: 30px;
    border-color: black;
    border-radius: 0.25rem;
    align-items:center;
}
.btnregular {
    font-size: medium;
    background-color: #ac8d99;

}
