.xxl-fo {
    font-size: xx-large;
    text-decoration: underline;
}
.xl-fo {
    font-size: x-large;
    text-decoration: underline;
}
.backcol {
    background-image: url("https://i.ibb.co/nzVbHkm/03-06-2021-17-48-46.png");
    text-align: right;
}
.t{
    direction: rtl;
    font-size: large;
    font-weight: bold;
}
.buyfont {
    font-size: 25px;
    text-decoration: underline;
}
.boldri {
    direction: rtl;
    font-size: large;
    font-weight: bold;
}